<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Billetterie du musée du Louvre {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/common.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container">
    <header class="row">
        <div class="col-xs-2">
            <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo-louvre.jpg') }}"></a>
        </div>
        <div class="col-sm-10">
            <p class="site-title">OC-Projet3 : Billeterie du musée du Louvre</p>
        </div>
    </header>
    {% include 'flashMessage/flashMessageBloc.html.twig' %}
    {% block body %}{% endblock %}
    <footer class="row">
        <div class="col-xs-2"><a href="#">Tarifs</a></div>
        <div class="col-md-8 col-xs-6">
            <p><i class="glyphicon glyphicon-credit-card"></i> Paiement 100% sécurisé via PayPal ou Stripe</p>
        </div>
        <div class="col-md-2 col-xs-4 text-right">
            <a href="#">&copy; 2016 Sud Agency</a>
        </div>
    </footer>
</div>
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
