<div class="form-block" id="ticket-{{ index }}">
    <h3>Musée du Louvre - le {{ booking.bookingDate|localizeddate('full', 'none', locale) }}<br />{{ booking.ticketType.label }} : <span class="ticket-amount">{{ ticket.amount.vars.value|localizedcurrency('EUR') }}</span></h3>
    <div class="row">
        <div class="col-md-6">
            {{ form_widget(ticket.amount) }}
            {{ form_row(ticket.customer.lastName, {'label': 'Nom *', 'label_attr': { 'class': 'col-md-3'}}) }}
            {{ form_row(ticket.customer.firstName, {'label': 'Prénom *', 'label_attr': { 'class': 'col-md-3'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(ticket.customer.birthday, {'label': 'Date de naissance *', 'label_attr': { 'class': 'col-md-3'}}) }}
            {{ form_row(ticket.customer.country, {'label': 'Pays *', 'label_attr': { 'class': 'col-md-3'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" /> Si vous bénéficiez d'avantage spécial, veuillez cocher cette case <i class="glyphicon glyphicon-info-sign"></i>
                </label>
            </div>
        </div>
    </div>
</div>
