{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block form_row %}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{% endblock form_row %}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
        {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{% block title %}{{ parent() }} - Choix billet {% endblock  %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        // <![CDATA[
        $(function(){
            var $calendar = $("#booking_calendar");
            var $bookingDate = $('#booking_bookingDate');

            $calendar.datetimepicker({
                format: 'YYYY-MM-DD',
                locale: 'fr',
                inline: true,
                sideBySide: true,
                daysOfWeekDisabled: $bookingDate.data('forbidden-weekdays').split(', '),
                disabledDates: $bookingDate.data('forbidden-dates').split(', '),
                minDate: new moment().format('YYYY-MM-DD 00:00'), //I have to put a hour them I can't set the current date
                defaultDate: moment( $bookingDate.val() , 'YYYY-MM-DD HH:SS')// I use a hour-
            });

            $calendar.on("dp.change", function (e) {
                var date = e.date.format('YYYY-MM-DD');

                $bookingDate.val(date);

                $.getJSON( "{{ path('ajax-get-ticket-type-list') }}?date=" + date, function( data ) {
                    var items = [];
                    $.each( data, function( index, ticketType) {
                        items.push('<option value="'+ticketType.id+'">'+ticketType.label+'</option>' );
                    });
                    $( "#booking_ticketType").html( items.join( "" ) );
                });
            });
            $bookingDate.css('display', 'none');

            if($bookingDate.parent('div.form-group').hasClass('has-error')){
                $calendar.find('.day.active').addClass('bg-error');
            }

        });
        // ]]>
    </script>
{% endblock %}

{% block body %}
    <div class="body-content" id="basket">
        <div class="row">
            <div class="col-lg-12">
                <h1>Choix des billets</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cumque laborum nulla odio quo ratione sunt? Consectetur consequatur ipsum mollitia repellat ut veniam! Deserunt, eaque et impedit pariatur provident tempore?</p>
            </div>
        </div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-6">
                <h2><i class="glyphicon glyphicon-calendar"></i> Choisissez une date</h2>
                <div class="text-center">
                    {{ form_row(form.bookingDate) }}
                    <div id="booking_calendar"></div>
                </div>
            </div>
            <div class="col-md-6 border-left">
                <h2><i class="glyphicon glyphicon-time"></i> Choisissez le type de billet</h2>
                <div class="text-center">
                    {{ form_row(form.ticketType, {'attr': {'class': 'form-control'}}) }}
                </div>
                <h2><i class="glyphicon glyphicon-bookmark"></i> Choisissez le nombre de billet</h2>
                <div class="text-center">
                    <table class="table table-responsive">
                        <caption>Musée du Louvre</caption>
                        <thead>
                        <tr>
                            <th colspan="3">Musée du Louvre</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p><strong>Plein tarif Musée</strong></p>
                                <p>Tarif unique</p>
                            </td>
                            <td>
                                {{ form_row(form.ticketQuantity, {'attr': {'class': 'form-control'}}) }}
                            </td>
                            <td class="amount">
                                10,00 €
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="pull-right"><button type="submit" class="btn btn-default">Continuer</button></p>

                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
