{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block form_group_class -%}
    col-md-9
{%- endblock form_group_class %}
{% block title %}{{ parent() }} - Bénéficiaires des billets {% endblock  %}
{% block body %}
<div class="body-content" id="user-informations">
    <div class="row">
        <div class="col-lg-12">
            <h1>Bénéficiaires des billets</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cumque laborum nulla odio quo ratione sunt? Consectetur consequatur ipsum mollitia repellat ut veniam! Deserunt, eaque et impedit pariatur provident tempore?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2><i class="glyphicon glyphicon-check"></i> Bénéficiaires des billets</h2>
            {{ form_start(form) }}
                {% for ticket in form.tickets %}
                    {% include 'main/form_block.html.twig' with { 'tikect': ticket} %}
                {% endfor %}
            {{ form_end(form) }}
            {#<form action="{{ path('check-order') }}" method="post" class="form-horizontal">#}
                {#{% include 'main/form_block.html.twig' %}#}
                {#{% include 'main/form_block.html.twig' %}#}
                {#<div class="row">#}
                    {#<div class="col-md-6">#}
                        {#<a href="{{ path('homepage') }}" class="btn btn-default">Retour</a>#}
                    {#</div>#}
                    {#<div class="col-md-6 text-right">#}
                        {#<button type="submit" class="btn btn-default">Payez</button>#}
                    {#</div>#}
                {#</div>#}
            {#</form>#}
        </div>
    </div>
</div>
{% endblock %}
