{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block form_group_class -%}
    col-md-9
{%- endblock form_group_class %}
{% block title %}{{ parent() }} - Bénéficiaires des billets {% endblock  %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            var $birthday = $('input[type="date"]');

            $birthday.datetimepicker({
                format: 'YYYY-MM-DD',
                locale: 'fr',
                inline: false,
                sideBySide: false,
                maxDate: new moment().format('YYYY-MM-DD 00:00'),
                defaultDate: new moment().format('YYYY-MM-DD 00:00')
            });

//            $birthday.on('change', function(){
//                console.log('suis la');
//            });
            $birthday.on("dp.change", function (e) {
                var $element = $('#' + e.currentTarget.id);
                var ticketBlockId =  $element.parents('.form-block').attr('id');
                getTicketAmountByBirthday(ticketBlockId);
            });
        });

        function getTicketAmountByBirthday(ticketBlockId)
        {
            var $ticketFormBlock = $('#' +ticketBlockId);
            var formTicketIndex = ticketBlockId.replace('ticket-', '');
            var $birthday   = $('#ticket_informations_tickets_'+ formTicketIndex +'_customer_birthday');
            var $amount   = $('#ticket_informations_tickets_'+ formTicketIndex +'_amount');

            console.log($birthday.val());

            $.getJSON(
                "{{ path('ajax-get-ticket-amount-by-birthday') }}",
                {'birthday': $birthday.val()},
                function( amount ) {
                    var formatedAmount = new Intl.NumberFormat("{{ locale }}", {style: "currency", currency: "EUR"}).format(amount)
                    $ticketFormBlock.find('.ticket-amount').html(formatedAmount);
                    $amount.val(amount);
                }
            );
        }
    </script>
{% endblock %}
{% block body %}
<div class="body-content" id="user-informations">
    <div class="row">
        <div class="col-lg-12">
            <h1>Bénéficiaires des billets</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cumque laborum nulla odio quo ratione sunt? Consectetur consequatur ipsum mollitia repellat ut veniam! Deserunt, eaque et impedit pariatur provident tempore?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2><i class="glyphicon glyphicon-check"></i> Bénéficiaires des billets</h2>
            {{ form_start(form) }}
                {% for ticket in form.tickets %}
                    {% include 'main/form_block.html.twig' with { 'tikect': ticket, 'index': loop.index0, 'booking': booking } %}
                {% endfor %}
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('homepage') }}" class="btn btn-default">Retour</a>
                </div>
                <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-default">Payez</button>
                </div>
            </div>
            {{ form_end(form) }}
            {#<form action="{{ path('check-order') }}" method="post" class="form-horizontal">#}
                {#{% include 'main/form_block.html.twig' %}#}
                {#{% include 'main/form_block.html.twig' %}#}
                {#<div class="row">#}
                    {#<div class="col-md-6">#}
                        {#<a href="{{ path('homepage') }}" class="btn btn-default">Retour</a>#}
                    {#</div>#}
                    {#<div class="col-md-6 text-right">#}
                        {#<button type="submit" class="btn btn-default">Payez</button>#}
                    {#</div>#}
                {#</div>#}
            {#</form>#}
        </div>
    </div>
</div>
{% endblock %}
